<div class="navbar navbar-inverse" role="navigation"style="height: 100px; ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a  style="margin-top:20px;font-size: 70px; text-align: center; color: white;" class="navbar-brand" href="/"> PITCHES-RATER </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">pickup lines</a></li>
                  <li><a href="/">interview pitch</a></li>
                    <li><a href="/">product pitch</a></li>
                    <li><a href="/">promotion pitch</a></li>
        </div>

    </div>
</div>
